@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans Mono', monospace;
	background: #013565 url('./house.jpg') center/cover no-repeat ;
}

.container {
	display: flex;
}

/* tlačítka */
.button {
	flex: 0 0 50%;
	border: 0;
	outline: 0;
	padding: 10px;
	font-size: 14px;
	background-color: #dedede;
	color: #888;
	cursor: pointer;
}

.button:hover {
	background-color: #c5c5c5;
}

.button--active {
	background-color: #0099ff;
	color: white;
}

.button--active:hover {
	background-color: #0088ee;
}

/* detail */

.detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: #013565 url('/images/header-bg.jpg') center/cover no-repeat; */
}

.detail-inner {
	width: 400px;
	min-height: 300px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.detail-ikona {
	text-align: center;
}

.detail-ikona img {
	width: 80px;
}

.detail-nazev {
	text-align: center;
	margin: 30px 0;
}
